<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings configSource="ConnectionStrings.config"/>
  <appSettings>
    <add key="DatabaseInitializerForType DataServices.EFService.CarShopDBContext, DataServices"
        value="System.Data.Entity.CreateDatabaseIfNotExists`1[[DataServices.EFService.CarShopDBContext, DataServices]], EntityFramework" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>